.DS_Store
~*~

*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.atsuo
src/TcfTransactionLog.csv

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
src/baker/hotpi-baker
src/filling/hotpi-filling
src/harvest/hotpi-harvest
src/honeybee/hotpi-honeybee
src/crust/Debug
src/crust/Release
honeybridge/honeybridge

nohup.out

